body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.productList
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

section{
  display: flex;
}
.card{
  filter: drop-shadow(2px 4px 6px black);
background-color: rgb(152 151 151 / 25%); /* Just adjust the color or opacity to make the text pop! */
box-shadow: inset 0 0 0 200px rgb(255 255 255 / 8%);
}
.productList{
  margin-top: 2%;
}
nav{
  padding: 0.4%;
  filter: drop-shadow(2px 4px 6px black);
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.08);
  background-color:rgba(0, 0, 0, 0.25);;
  color: aliceblue;
}